<template name="Home">
  	<div class="uk-margin-top uk-width-large-4-5 uk-width-medium-2-3 uk-width-small-1-1 uk-container-center">
  		<div class="uk-width-large-1-2 uk-width-medium-2-3 uk-width-small-1-1 uk-container-center">
  			{{> userSummary}}
  		</div>
  		<div class="uk-grid uk-tight-panels">
			<div class="uk-width-large-1-2 uk-width-small-1-1 uk-overflow-vertical">
				{{> liveHunts}}
			</div>
			<div class="uk-width-large-1-2 uk-width-small-1-1 uk-overflow-vertical">
				{{> myHunts}}
			</div>
		</div>
	</div>
</template>

<template name="userSummary">
	<div class="uk-grid uk-margin-bottom uk-vertical-align">
		<div class="uk-width-3-5 uk-vertical-align-header-middle">
			<h1 class="">
				Points available: <span class="uk-text-primary">{{points}}</span>
			</h1>
		</div>
		<div class="uk-width-2-5 uk-vertical-align-header-middle">
			<h3 class="uk-float-right uk-margin-small-bottom">WEEK ENDS:</h3>
			<h3 class="uk-float-right uk-margin-top-remove uk-text-primary uk-clear-both">{{week_ends}}</h3></div>
		<div class="uk-clearfix"></div>
	</div>
</template>

<template name="liveHunts">
	<h2 class="uk-heading-large uk-text-center">Available Hunts</h2>
	<div class="scroll-container uk-tight-panels">
		{{#each liveHunts}}
			{{> hunt}}
		{{/each}}
	</div>
</template>

<template name="myHunts">
	<h2 class="uk-heading-large uk-text-center">My Live Hunts</h2>
	<div class="scroll-container uk-tight-panels">
		{{#each myHunts}}
			{{> hunt}}
		{{/each}}
		{{#unless myHunts}}
			<div class="uk-placeholder"></div>
		{{/unless}}
	</div>
</template>

<template name="hunt">
	<div class="uk-panel uk-panel-box {{#if affordable}}uk-panel-box-primary{{/if}} {{#if bought_at}}uk-panel-box-secondary{{/if}} uk-width-1-1" data-uk-tooltip={{affordable}} title="{{#if affordable}}Click on my price to buy me!{{/if}}">
		<div class="uk-panel-title uk-cursor-pointer" data-action="hunt-modal">{{name}}</div>
		{{#if exists 'profit'}}
			<div class="uk-panel-badge panel-button {{#if positive profit}}uk-profit{{else}}uk-loss{{/if}}">Profit: {{profit}} Points</div>
		{{else}}
			<div class="uk-panel-badge panel-button {{#unless affordable}}disabled{{/unless}}" data-action="buy">
				<span class="{{#if affordable}}uk-text-warning{{/if}}">{{points}}</span> Points
			</div>
		{{/if}}
		<a href="{{redirect_url}}" target="_blank" class="basic-link uk-display-inline uk-float-left uk-margin-small-top">{{tagline}}</a>
		{{#if bought_at}}
		<p class="uk-display-inline uk-float-right uk-margin-small-top">Bought on <span class="uk-text-warning">{{formatDate bought_at}}</span></p>
		{{else}}
		<p class="uk-display-inline uk-float-right uk-margin-small-top">Owned by <span class="uk-text-warning">{{buyers}}</span> hunters</p>
		{{/if}}
	</div>
</template>

<template name="huntModal">
    <div class="uk-modal-dialog">
    	<div class="uk-grid">
	    	<div class="uk-width-1-2">
			    <h1 class="uk-cursor-pointer" data-action="open-hunt-link">{{name}}</h1>
			    <h3 class="uk-cursor-pointer" data-action="open-hunt-link">{{tagline}}</h3>
		    </div>
		    <div class="uk-width-1-2">
			    <img class="uk-cursor-pointer" src="{{smallScreenshot}}" data-action="open-hunt-link">
		    </div>
	    </div>
	    <div class="uk-clearfix"></div>
	    <div class="uk-grid uk-margin-top">
		    <div class="uk-width-1-2 uk-text-left">
			    <span class="panel-button {{#unless affordable}}disabled{{/unless}}" data-action="buy">Points: <strong>{{points}}</strong></span>
		    </div>
		    <h3 class="uk-width-1-2 uk-text-right">Bought by <strong>{{buyers}}</strong> hunters</h3>
	    </div>
    </div>
</template>