<template name="History">
  	<div class="uk-margin-top uk-width-large-4-5 uk-width-medium-2-3 uk-width-small-1-1 uk-container-center">
  		<div class="uk-grid uk-tight-panels">
			<div class="uk-width-large-1-2 uk-width-small-1-1 uk-overflow-vertical uk-overflow-horizontal-hidden">
				{{> historyChart}}
			</div>
			<div class="uk-width-large-1-2 uk-width-small-1-1 uk-overflow-vertical">
				{{> huntHistory}}
			</div>
		</div>
	</div>
</template>

<template name="huntHistory">
	<h2 class="uk-heading-large uk-text-center">Hunt History</h2>
	<div class="scroll-container uk-tight-panels">
		{{#each huntRecords}}
			{{> hunt}}
		{{/each}}
		{{#unless huntRecords}}
			<div class="uk-placeholder"></div>
		{{/unless}}
	</div>
</template>

<template name="historyChart">
	<h2 class="uk-heading-large uk-text-center">Performance Chart</h2>
	{{> highchartsHelper chartId="points-chart" width="100%" height="100%" chartObject=pointsHistoryChart}}
</template>

