<template name="Login">
 	<section class="uk-height-1-1 uk-text-center">
	    <div class="uk-height-1-1 uk-vertical-align uk-container-center uk-width-1-1">
	        <div class="uk-vertical-align-middle uk-width-large-1-4 uk-width-medium-1-2 uk-width-small-4-5">
	        <div class="bold-header uk-margin-bottom"><span class="bottom-border">Product Hunter</span></div>
	        <div class="bold-subheader uk-margin-bottom"><span>The Fantasy Game</span></div>
	        	<button type="button" class="uk-button uk-button-large uk-twitter uk-width-1-1 uk-margin-small-bottom" data-vendor="Twitter">
	        		<i class="uk-icon-twitter"></i> Sign in with Twitter
	        	</button>
	        	<button type="button" class="uk-button uk-button-large uk-google uk-width-1-1 uk-margin-small-bottom" data-vendor="Google">
	        		<i class="uk-icon-google"></i> Sign in with Google
	        	</button>
	        	<button type="button" class="uk-button uk-button-large uk-facebook uk-width-1-1" data-vendor="Facebook">
	        		<i class="uk-icon-facebook"></i> Sign in with Facebook
	        	</button>
	        </div>
	    </div>
	</section>
</template>