<template name="Profile">
	<div id="topbar-spacer"></div>
 	<div class="uk-double-margin-top uk-width-large-3-5 uk-width-medium-3-4 uk-width-small-1-1 uk-container-center">
  		<div class="uk-grid">
			<div class="uk-width-large-1-2 uk-width-small-1-1 uk-float-left">
				{{> userDetails currentUser}}
			</div>
			<div class="uk-width-large-1-2 uk-width-small-1-1 uk-float-left uk-text-center">
				{{> profileButtons}}
			</div>
		</div>
	</div>
</template>

<template name="userDetails">
	<div class="uk-display-inline uk-float-left uk-margin-right">
		{{> avatar userId=this._id size='large' type='circle'}}
	</div>
	<div class="uk-display-inline uk-float-left">
		<h2>Name: <span class="uk-text-primary">{{profile.name}}</span></h2>
		<h2>Joined on: <span class="uk-text-primary">{{formatDate createdAt}}</span></h2>
		<h2 class="uk-float-left uk-margin-right">Medals: </h2>
		<ul class="uk-list uk-float-left">
			<li><h4>Gold: <span class="uk-text-primary">{{profile.medals.gold}}</span></h4></li>
			<li><h4>Silver: <span class="uk-text-primary">{{profile.medals.silver}}</span></h4></li>
			<li><h4>Bronze: <span class="uk-text-primary">{{profile.medals.bronze}}</span></h4></li>
		</ul>
		<div class="uk-clearfix"></div>
		<h2>Total Points: <span class="uk-text-primary">{{profile.total_points}}</span></h2>
		<h2>Average Weekly Points: <span class="uk-text-primary">{{profile.ave_points}}</span></h2>
	</div>
</template>

<template name="profileButtons">
	<div class="uk-visible-large" style="height: 3em;"></div>
	<button class="uk-button uk-button-danger uk-button-large uk-margin-top uk-width-3-4" type="button" data-action="logout">Logout</button>
	<button class="uk-button uk-button-danger uk-button-large uk-margin-top uk-width-3-4" type="button" data-action="delete-account">Delete Account</button>
</template>